In [2]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=5d7ed7a839e627a2895d5bcdd7143316f6f469bf9d1f36c5b994c05d8b6b6c17
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("RDD Transformation Example").getOrCreate()

#Get the SparkContext from the SparkSession
sc = spark.sparkContext
print("spark session created")

data = [1,2,3,4,5,6,7,8,9,10]
rdd = sc.parallelize(data)

spark session created

In [5]:
rdd2 = rdd.map(lambda x: x*2)

# print the transformed RDD
print("RDD after map transformation (x2):",rdd2.collect())

RDD after map transformation (x2): [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
rdd3 = rdd2.filter(lambda x: x%2 == 0)

# print the filtered RDD
print("RDD after filter transformation (even numbers):",rdd3.collect())

RDD after filter transformation (even numbers): [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [7]:
sentences = ["Hello World","Pyspark is great","RDD transformations"]
rdd4 = sc.parallelize(sentences)

words_rdd = rdd4.flatMap(lambda sentence : sentence.split(" "))

# print the flatmapped RDD
print("RDD after flatMap transformation(split into words):",words_rdd.collect())

RDD after flatMap transformation(split into words): ['Hello', 'World', 'Pyspark', 'is', 'great', 'RDD', 'transformations']

In [8]:
results = rdd3.collect()
print(results)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [9]:
count = rdd3.count()
print(f"Number of elements in RDD: {count}")

Number of elements in RDD: 10

In [11]:
total_sum = rdd.reduce(lambda x,y: x+y)
print(f"Total sum of elements in RDD: {total_sum}")

Total sum of elements in RDD: 55